.box {
    /*Alto y ancho de cada caja*/
    height: 150px;
    width: 150px;
    margin: 10px;
    background-color: green;
    border: 4px dotted palevioletred;
  }

  .grid {
    /*Declaro contenedor padre como flex*/
    display: flex;
    /*Uso wrap para que, al momento de acomodarse unos al lado de otros, si no encuentra espacio suficiente, quiebre a la prox linea*/
    flex-wrap: wrap;
  }

  .gridDos {
    display: flex;
    flex-wrap: wrap;
  }
  .course {
    /*Para alinear cada elemento usa as propiedades width y margin, porque la cantidad de elementos no llenan toda la grilla, y si se usan propiedades como space-around o space-between, los elementos quedarian mal posicionados*/
    /*Calculo del width 31.3 * 3 = 93.9%*/
    width: 31.3%;
    /*Calculo del margin 6% (1% a la izquierda y 1% a la derecha de cada elemento).*/
    margin: 1%;
    /*Calculo del total 93.9% + 6% = 99.9% que se puede redondear al 100%.*/
  }